a {color: #ffffff;
    font-size: 2em;
    link: white;
}
a :hover{
    color:white;
}
body{
background-color: black;
    font-family: 'VT323', monospace;
    color:white;
}

.about {

    font-size:2em;
}
.coin{
    position: absolute;
    background-image: url("src/coin.png");
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
}
.frame-img{
    border: dashed white 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 27%;
    height: 316px;
}
.input-text{
    padding: 5px 5px 5px 5px ;
    border-bottom: solid 2px #c9c9c9;
    color:black;
}
.listUpgr {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    width: 350px;
    text-align: justify;
}
.logo{
    background-image: url("src/logo.png");
    height: 170px;
    background-size: 100% 100%;
}
.logo h1,h3{

    text-align: right;
    padding-right: 30px;
    color:white;


}
.main-frame-img{
    border: dashed white 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 36%;
    height: 316px;
}
.main-upgrades button {
    color:black;
    width: 200px;
    background-color: black;
    color: white;
    border: 2px solid white;


}
.main-upgrades button:hover{
    color:white;

}
.moneyfooter{
    font-size:2em;
}
.ntf{
    color:red;
}
.nav{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px 10px 10px 10px;
    background-color: #000000;
    border: solid 1px white;
}
.nav li{
    display: inline-block;
    padding-left:50px;
    padding-right: 50px;
}
.option{
    padding-top: 20px;
}
.option button{
    color:black;
    width: 200px;
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 20px 5px 5px 5px ;
}
.options{
    border: dashed white 2px;
    width: 100%;
    height: 316px;
    display: none;
}
.reset{
    padding-left: 100px;


}
.statistics {

    padding-top: 30px;
}
.up-buttons{
    color:white;
    padding-top: 35px;
}
.up-buttons button{
    color:black;
    width: 150px;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.up-buttons ul li{
    list-style-type: none;
}









